* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}



.classes {
    background: #1188EE;
}

.header-content {
    background: #17222D;
}



nav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

}

.navegadores a:hover{
    color: #a59f9f;
    transition: color 0.1s, background-color 0.1s;
}


.nav-praia {
    color: #fff;
    margin-right: 1rem;
    font-size: 18px;
}

.nav-aulas {
    color: #fff;
    margin-right: 1rem;
    font-size: 18px;

}

.nav-contato {
    color: #fff;
    margin-right: 1rem;
    font-size: 18px;

}

.nav-matricula {
    color: #fff;
    margin-right: 2rem;
    font-size: 18px;
    text-decoration: underline #EE2211;
    text-underline-offset: 0.3rem; 
}


nav div {
    display: flex;
    margin-left: 2rem;
}

.classes {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #fff;

}

p {
    margin-left: 1.5rem;
}

.imagem-text {
    position: relative;
    background-image: url("./images/background-header.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



h2 {
    position: absolute;
    bottom: 1.5rem;
    font-size: 40px;
    color: rgb(240, 235, 235);
    left: 2rem;
    font-size: 4rem;
    font-family: 'Nunito';
    text-shadow: rgb(38, 36, 36) 2px 2px 7px ;
}

.box-together {
    display: flex;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.2rem;
    box-shadow: 0px 5px 5px rgba(23, 34, 45, 0.4);
}

.box-together input {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0.7rem;
    height: 400;
}

.box-together input:focus {
    outline: none;
}

.box-together button {
    background: #EE2211;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 0.7rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.box-together button:hover {
    background-color: #880f0f;
    transition: color 0.1s, background-color 0.1s;
    
}

.box-together button span{
    margin-left: 1rem;
}

.navegadores span {
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}